.sec4 {
	background-color: #f8f8f8;
}
.s4-knowledge {
	margin-top: 40px;
}
.s4-icon {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	box-shadow: 0 0 0 4px $r1;
	margin-bottom: 20px;
}
.s4-knowledge-card p {
	font-size: 15px;
}
.s4-knowledge-card .btn {
	text-align: left;
	margin-top: 20px;
	font-size: 15px;
	color: #3b92f5;
}