.sec4 {
	background-color: #f8f8f8;
}
.sec4 h3 {
	color: #3b92f5;
	margin-top: 30px;
	margin-bottom: 	10px;
	padding-bottom: 10px;
	box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
}

.s4-faq h4 {
	font-size: 18px;
	margin-top: 0;
}
.s4-faq {
	position: relative;
	background-color: #fff;
	padding: 15px 20px 55px;
	border-radius: 5px;
	box-shadow: 5px 5px 0 0 rgba(0,0,0,.1),
							inset 0 0 0 2px rgba(0,0,0,.1);
	a {
	  color: #3b92f5;
	}
}
.s4-faq p {
	position: relative;
	padding-left: 20px;
	font-size: 15px;
	height: 80px;
	overflow: hidden;
	margin-top: 10px;
	text-overflow : ellipsis;
	color: rgba(0,0,0,.3);
	&:before {
		content: '';
		position: absolute;
		height: 100%;
		width: 8px;
		left: 0;
		top: 0;
		border-radius: 40px;
		background-color: #ff9a9a;
	}
}
.s4-faq-more-btn {
	position: absolute;
	background-color: #3b92f5;
	bottom: 15px;
	right: 10px;
	color: #fff;
	width: 120px;
	line-height: 30px;
	border-radius: 30px;
	margin: 10px auto 0;
	opacity: .7;
	transition: .3s ease;
	&:hover {
		opacity: 1;		
	}
}